html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Gilda Display', serif;
  background-color: #FAFAFA;
}

$mainColor: #9A5B6A;

@mixin title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  font-weight: normal;
  position: relative;

  &:after {
    content: "";
    width: 350px;
    height: 1px;
    background-color: $mainColor;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 500px) {
    font-size: 20px;

    &:after{
      width: 50%;
    }
  }
}


header {
  background: #EFE6DD;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $mainColor;
    padding: 25px 30px;

    .left {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 158px;
        cursor: pointer;
        margin-right: 50px;

        img {
          width: 100%;
        }
      }

      .search {
        width: 438px;
        position: relative;

        img {
          position: absolute;
          right: 20px;
          bottom: 10px;
          cursor: pointer;
        }

        input {
          width: 100%;
          background: transparent;
          border: none;
          padding: 10px 6px;
          border-bottom: 1px solid white;
          font-size: 24px;
          color: rgba(255, 255, 255, 0.8);

          &::placeholder {
            font-size: 24px;
            color: rgba(255, 255, 255, 0.8);
          }

          &:focus {
            outline: none;
          }
        }

        @media (max-width: 900px) {
          display: none;
        }
      }
    }

    .right {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          text-decoration: none;
          margin-top: 8px;
        }
      }

      @media (max-width: 1100px) {
        width: 45%;
      }
      @media (max-width: 900px) {
        display: none;
      }
    }

    .menu_icon {
      display: none;
      width: 40px;
      cursor: pointer;

      img {
        width: 100%;
      }

      @media (max-width: 900px) {
        display: block;
      }
      @media (max-width: 400px) {
        width: 30px;
      }
    }

    @media (max-width: 900px) {
      padding: 0 30px;
    }
  }

  nav {
    width: 80%;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      a {
        margin-left: 8px;
      }
    }

    a {
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      text-decoration: none;

      &:hover {
        font-weight: bold;
      }
    }

    @media (max-width: 900px) {
      display: none;
    }
  }
}

main {
  //slider
  .slider {

    .slider1 {
      display: flex;
      position: relative;

      .left {
        width: 50%;
        height: 500px;
        background-image: url("../img/img1.png");
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 1200px) {
          background-position: center;
        }
        @media (max-width: 700px) {
          width: 100%;
          height: 230px;
        }
      }

      .right {
        width: 50%;
        background-color: #F8F7F5;

        img {
          &:first-child {
            margin-top: 100px;
            margin-left: 100px;
            width: 62%;

            @media (max-width: 900px) {
              margin-left: 30px;
            }
            @media (max-width: 700px) {
              margin-top: 0;
              width: 55%;
            }
            @media (max-width: 400px) {
              width: 70%;
            }
          }

          &:last-child {
            position: absolute;
            bottom: 23px;
            right: 48px;

            @media (max-width: 400px) {
              padding-left: 30px;
              position: unset;
            }
          }
        }

        p {
          font-size: 48px;
          line-height: 56px;
          color: #9A5B6A;
          padding-left: 100px;

          span {
            font-size: 64px;
            line-height: 75px;

            @media (max-width: 1200px) {
              font-size: 54px;
            }
            @media (max-width: 1100px) {
              font-size: 44px;
            }
            @media (max-width: 700px) {
              font-size: 30px;
              line-height: unset;
            }
          }

          @media (max-width: 1200px) {
            font-size: 38px;
          }
          @media (max-width: 1100px) {
            font-size: 28px;
          }
          @media (max-width: 900px) {
            padding-left: 30px;
          }
          @media (max-width: 700px) {
            font-size: 20px;
            line-height: unset;
            padding-bottom: 20px;
          }
        }

        @media (max-width: 700px) {
          width: 100%;
        }
      }

      @media (max-width: 700px) {
        flex-direction: column;
      }
    }

    .slider_pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 64px;

      div {
        width: 14px;
        height: 14px;
        background: rgba(154, 91, 106, 0.25);
        margin-right: 12px;
        border-radius: 50%;
        cursor: pointer;

        &.active {
          background: #9A5B6A;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &:hover {
          background: #9A5B6A;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }

      @media (max-width: 700px) {
        margin-top: 25px;
      }
    }
  }

  //sale
  .sale {
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;

    h2 {
      @include title;
    }

    .cards {
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .card {
        width: 350px;

        &.card1 {
          .bg {
            background-image: url('../img/img3.png');
          }

          .card_body {
            .colors {
              .color {
                &.color1 {
                  background: #D5BAA7;
                }

                &.color2 {
                  background: #EEC8A3;
                }

                &.color3 {
                  background: #E4B6A6;
                }

                &.color4 {
                  background: #E2B7A6;
                }

                &.color5 {
                  background: #BE6D58;
                  position: relative;

                  &:after {
                    content: "";
                    width: 25px;
                    height: 1px;
                    background-color: #26180F;
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                }

                &.color6 {
                  background: #C8A891;
                }

                &.color7 {
                  background: #C19473;
                }
              }
            }
          }
        }

        &.card2 {
          .bg {
            background-image: url('../img/img4.png');
          }

          .card_body {
            .colors {
              .color {
                &.color1 {
                  background: #D5BAA7;
                }

                &.color2 {
                  background: #EEC8A3;
                }

                &.color3 {
                  background: #E4B6A6;
                }

                &.color4 {
                  background: #E2B7A6;
                }

                &.color5 {
                  background: #F0BE9B;
                  position: relative;

                  &:after {
                    content: "";
                    width: 25px;
                    height: 1px;
                    background-color: #26180F;
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                }

                &.color6 {
                  background: #CAAA93;
                }

                &.color7 {
                  background: #D0B29C;
                }
              }
            }
          }
        }

        &.card3 {
          .bg {
            background-image: url('../img/img5.png');
          }

          .card_body {
            .colors {
              .color {
                &.color1 {
                  background: #DD605E;
                }

                &.color2 {
                  background: #FA8073;
                }

                &.color3 {
                  background: #F78A6D;
                }

                &.color4 {
                  background: #EA5C52;
                }

                &.color5 {
                  background: #BD5749;
                  position: relative;

                  &:after {
                    content: "";
                    width: 25px;
                    height: 1px;
                    background-color: #26180F;
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                }

                &.color6 {
                  background: #FC82A9;
                }

                &.color7 {
                  background: #B94456;
                }
              }
            }
          }
        }

        .bg {
          height: 350px;

          .favorite {
            background: rgba(255, 255, 255, 0.25);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .discount {
              font-size: 36px;
              line-height: 42px;
              color: #FFFFFF;
              background: $mainColor;
              padding: 8px 12px;

              @media (max-width: 590px) {
                font-size: 25px;
                line-height: 25px;
              }
            }

            .heart {
              padding-right: 12px;
              cursor: pointer;
            }
          }
        }

        .card_body {
          background: #EFE6DD;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          padding: 24px 12px;

          span {
            font-size: 12px;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.8);
          }

          .colors {
            display: flex;
            align-items: center;
            margin-top: 15px;

            .color {
              width: 25px;
              height: 25px;
              border-radius: 3px;
              margin-right: 8px;
              cursor: pointer;
              position: relative;

              &:hover {

                &:after {
                  content: "";
                  width: 25px;
                  height: 1px;
                  background-color: #26180F;
                  position: absolute;
                  bottom: -4px;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }

            img {
              cursor: pointer;
            }
          }

          p {
            font-size: 18px;
            line-height: 21px;
            color: rgba(0, 0, 0, 0.8);
            margin-top: 15px;

            &.price {
              margin-top: 35px;
            }

            del {
              font-size: 14px;
              line-height: 16px;
              color: rgba(0, 0, 0, 0.8);
              padding-left: 10px;
            }
          }

          .add {
            display: flex;
            justify-content: center;
            margin-top: 30px;

            button {
              border: 1px solid $mainColor;
              background: transparent;
              padding: 12px 42px;
              font-size: 24px;
              line-height: 28px;
              color: #000000;
              font-family: 'Gilda Display', serif;
              cursor: pointer;
              transition: all .5s;

              &:hover {
                background: $mainColor;
                color: #FFFFFF;
                transition: all .5s;
              }
              @media (max-width: 590px) {
                font-size: 20px;
                padding: 10px 40px;
              }
            }
          }
        }

        @media (max-width: 1312px) {
          width: 270px;
        }
        @media (max-width: 900px) {
          margin: 20px;
        }
        @media (max-width: 690px) {
          width: 350px;
        }
      }

      @media (max-width: 900px) {
        justify-content: center;
      }
      @media (max-width: 700px) {
        margin-top: 45px;
      }
    }

    .more {
      display: flex;
      justify-content: center;
      margin-top: 90px;

      button {
        border: 1px solid $mainColor;
        background: $mainColor;
        padding: 12px 70px;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        font-family: 'Gilda Display', serif;
        cursor: pointer;
        transition: all .5s;

        &:hover {
          background: transparent;
          color: #000000;
          transition: all .5s;
        }
        @media (max-width: 590px) {
          font-size: 22px;
        }
      }

      @media (max-width: 700px) {
        margin-top: 30px;
      }
    }

    @media (max-width: 1100px) {
      width: 90%;
    }
    @media (max-width: 700px) {
      padding-top: 50px;
    }
  }

  //ner_product
  .new_product {
    display: flex;
    align-items: center;
    margin-top: 80px;
    width: 100%;

    .photo1 {
      width: 30%;
      height: 550px;
      background-image: url("../img/img6.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media (max-width: 850px) {
        width: 50%;
      }
      @media (max-width: 515px) {
        width: 100%;
      }
    }

    .text {
      width: 35%;
      padding: 40px 30px 30px 22px;

      p {
        font-size: 72px;
        line-height: 85px;
        color: rgba(41, 23, 10, 0.8);

        @media (max-width: 1000px) {
          font-size: 62px;
          line-height: 65px;
          padding-bottom: 20px;
        }
        @media (max-width: 850px) {
          font-size: 40px;
          line-height: 45px;
        }
        @media (max-width: 590px) {
          font-size: 35px;
          line-height: 40px;
        }
      }

      .try {
        display: flex;
        justify-content: flex-end;

        button {
          border: 1px solid #26180F;
          background: transparent;
          padding: 12px 60px;
          font-size: 24px;
          line-height: 28px;
          color: #26180F;
          font-family: 'Gilda Display', serif;
          cursor: pointer;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          transition: all .5s;

          &:hover {
            background: #26180F;
            color: #FFFFFF;
            transition: all .5s;
          }
          @media (max-width: 590px) {
            font-size: 22px;
            padding: 12px 40px;
            line-height: unset;
          }
        }
      }

      @media (max-width: 850px) {
        width: 50%;
      }
      @media (max-width: 515px) {
        width: 100%;
      }
    }

    .photo2 {
      width: 35%;
      height: 550px;
      background-image: url("../img/img7.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @media (max-width: 850px) {
        width: 100%;
      }
    }

    @media (max-width: 850px) {
      flex-wrap: wrap;
    }
    @media (max-width: 700px) {
      margin-top: 50px;
    }
  }

  //gifts
  .gifts {
    width: 80%;
    margin: 80px auto 0;

    h2 {
      @include title;
    }

    .cards {
      margin-top: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        border: 1px solid $mainColor;
        background: $mainColor;
        padding: 4px 18px;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        font-family: 'Gilda Display', serif;
        cursor: pointer;
        transition: all .5s;

        &:hover {
          background: transparent;
          color: #000000;
          transition: all .5s;
        }
      }

      .card1 {
        display: flex;
        align-items: center;
        width: 49%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .pic {
          width: 45%;
          height: 325px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          @media (max-width: 1335px) {
            height: 347px;
          }
          @media (max-width: 1200px) {
            height: 375px;
          }
          @media (max-width: 1100px) {
            height: 347px;
          }
          @media (max-width: 1065px) {
            height: 375px;
          }
          @media (max-width: 500px) {
            width: 100%;
            height: 285px;
          }
        }

        .text_block {
          width: 55%;
          background: #EFE6DD;
          padding: 28px 15px;

          .text {
            background: #FFFFFF;
            padding: 40px 37px 25px 15px;

            p {
              &:nth-child(1) {
                font-size: 24px;
                line-height: 28px;
                color: #000000;
              }

              &:nth-child(2) {
                font-size: 18px;
                line-height: 21px;
                color: #000000;
                margin: 16px 0;
              }

              &:nth-child(3) {
                font-size: 26px;
                line-height: 31px;
                color: $mainColor;
              }
            }

            .order {
              margin-top: 35px;
              display: flex;
              justify-content: flex-end;

            }

            @media (max-width: 1455px) {
              padding: 17px 29px 18px 15px;
            }
            @media (max-width: 900px) {
              padding: 55px 29px 60px 15px;
            }
            @media (max-width: 615px) {
              padding: 55px 29px 29px 15px;
            }
            @media (max-width: 580px) {
              padding: 33px 29px 29px 15px;
            }
            @media (max-width: 525px) {
              padding: 33px 17px 29px 15px;
            }
          }

          @media (max-width: 500px) {
            width: 100%;
          }
        }

        @media (max-width: 900px) {
          width: 100%;
        }
        @media (max-width: 500px) {
          flex-direction: column;
        }
      }

      .card2 {
        width: 49%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-image: url("../img/img9.png");
        height: 325px;
        padding: 18px 0;
        text-align: center;

        .gift_card {
          text-align: center;

          img {
            @media (max-width: 390px) {
              width: 80%;
            }
          }
        }

        p {
          font-size: 24px;
          line-height: 28px;
          color: #000000;
          margin: 15px 0;
        }

        @media (max-width: 1335px) {
          height: 347px;
        }
        @media (max-width: 1200px) {
          height: 375px;
        }
        @media (max-width: 1100px) {
          height: 347px;
        }
        @media (max-width: 1065px) {
          height: 375px;
        }
        @media (max-width: 900px) {
          width: 100%;
          margin-top: 50px;
        }
        @media (max-width: 390px) {
          height: 325px;
        }
      }

      @media (max-width: 900px) {
        flex-direction: column;
        margin-top: 40px;
      }
    }

    @media (max-width: 1100px) {
      width: 90%;
    }
    @media (max-width: 700px) {
      margin: 50px auto 0;
    }
  }

  //beauty_squad
  .beauty_squad {
    background: linear-gradient(0deg, rgba(250, 250, 250, 1) 0%, rgba(239, 230, 221, 1) 50%, rgba(250, 250, 250, 1) 100%);
    padding-bottom: 160px;
    padding-top: 80px;

    .main {
      width: 80%;
      margin: auto;

      h2 {
        @include title;
      }

      .blocks {
        margin-top: 160px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .block1 {

          p {
            &:first-child {
              font-size: 36px;
              line-height: 42px;
              color: #000000;
              background: #FFFFFF;

              @media (max-width: 710px) {
                font-size: 26px;
              }
              @media (max-width: 590px) {
                font-size: 24px;
              }
            }

            &:nth-child(2) {
              font-size: 25px;
              line-height: 29px;
              color: #000000;
              margin-top: 24px;
              margin-bottom: 48px;
              @media (max-width: 590px) {
                font-size: 23px;
              }
            }
          }

          .sign {
            button {
              border: 1px solid $mainColor;
              background: $mainColor;
              padding: 11px 6px;
              font-size: 24px;
              line-height: 28px;
              color: #FFFFFF;
              font-family: 'Gilda Display', serif;
              cursor: pointer;
              transition: all .5s;

              &:hover {
                background: transparent;
                color: #000000;
                transition: all .5s;
              }
              @media (max-width: 590px) {
                font-size: 22px;
              }
            }
          }

          @media (max-width: 1225px) {
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
          }
        }

        .block2 {

          p {
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            text-align: center;
            margin-top: 10px;
          }

          img {
            @media (max-width: 390px) {
              width: 90%;
              margin: auto;
            }
          }

          @media (max-width: 710px) {
            margin-bottom: 30px;
          }
          @media (max-width: 710px) {
            text-align: center;
          }
        }

        @media (max-width: 1225px) {
          flex-wrap: wrap;
        }
        @media (max-width: 710px) {
          justify-content: center;
        }
        @media (max-width: 700px) {
          margin-top: 60px;
        }
      }

      @media (max-width: 1100px) {
        width: 90%;
      }
    }

    @media (max-width: 700px) {
      padding-top: 50px;
      padding-bottom: 60px;
    }
  }

  //banner
  .banner {
    display: flex;
    align-items: center;

    .block1 {
      width: 52%;
      background: #DACEC2;
      padding-top: 40px;
      padding-left: 140px;
      height: 540px;

      p {

        &:first-child {
          font-size: 96px;
          line-height: 113px;
          color: #26180F;

          span {
            &:first-child {
              font-size: 144px;
              line-height: 170px;
              @media (max-width: 1100px) {
                font-size: 124px;
                line-height: unset;
              }
              @media (max-width: 470px) {
                font-size: 100px;
              }
            }

            &:last-child {
              font-size: 76px;
              line-height: 90px;
              @media (max-width: 1100px) {
                font-size: 56px;
                line-height: unset;
              }
              @media (max-width: 470px) {
                font-size: 35px;
              }
            }
          }
          @media (max-width: 1100px) {
            font-size: 76px;
            line-height: unset;
          }
          @media (max-width: 470px) {
            font-size: 55px;
          }
        }

        &:last-child {
          font-size: 24px;
          line-height: 28px;
          color: rgba(41, 23, 10, 0.8);
          margin-top: 30px;

          span {
            font-size: 36px;
            line-height: 42px;
          }
        }
      }
      @media (max-width: 1300px) {
        padding-left: 50px;
      }
      @media (max-width: 900px) {
        width: 100%;
        height: 390px;
      }
      @media (max-width: 740px) {
        height: 450px;
      }
    }

    .block2 {
      width: 48%;
      height: 540px;
      background-image: url("../img/img13.png");
      background-repeat: no-repeat;
      background-size: cover;
      @media (max-width: 900px) {
        width: 100%;
        height: 390px;
        background-position: center;
      }
      @media (max-width: 740px) {
        height: 450px;
      }
    }
    @media (max-width: 1300px) {
      flex-direction: column;
    }
  }

  //product
  .product {
    margin-top: 140px;

    h2 {
      @include title;
    }

    .gallery {
      margin-top: 80px;
      margin-bottom: 65px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 27%;
        @media (max-width: 750px) {
          width: 50%;
          &:nth-child(2) {
            order: 1;
            margin: 20px 0;
          }
        }
        @media (max-width: 400px) {
          width: 100%;
          &:nth-child(2) {
            order: unset;
            width: 80%;
          }
        }
      }

      @media (max-width: 750px) {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }

    .chat_bot {
      margin-bottom: 100px;
      display: flex;
      justify-content: flex-end;
      padding-right: 32px;

      .ellipse {
        width: 100px;
        height: 100px;
        background-color: $mainColor;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        img{
          @media (max-width: 900px) {
            width: 60%;
          }
        }
        @media (max-width: 900px) {
          width: 70px;
          height: 70px;
        }
      }
      @media (max-width: 900px) {
        margin-bottom: 50px;
      }
      @media (max-width: 500px) {
        display: none;
      }
    }

    @media (max-width: 750px) {
      margin-top: 50px;
    }
  }
}

footer {
  background-color: $mainColor;

  .block1 {
    display: flex;
    justify-content: space-between;

    .menu_links {
      display: flex;

      h2 {
        font-size: 24px;
        line-height: 26px;
        color: #FFFFFF;
        margin-bottom: 16px;

        @media (max-width: 630px) {
          font-size: 22px;
        }
        @media (max-width: 590px) {
          margin-top: 16px;
          font-size: 18px;
        }
      }

      a {
        display: block;
        font-size: 20px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 16px;
        text-decoration: none;

        &:hover {
          font-weight: bold;
        }

        @media (max-width: 630px) {
          font-size: 18px;
        }
        @media (max-width: 590px) {
          font-size: 16px;
        }
      }

      .group {
        margin: 32px 0px 55px;
        padding: 35px 64px;

        &:nth-child(2) {
          border-left: 2px solid rgba(255, 255, 255, 0.5);
          border-right: 2px solid rgba(255, 255, 255, 0.5);

          @media (max-width: 590px) {
            border-left: none;
            border-right: none;
            border-top: 2px solid rgba(255, 255, 255, 0.5);
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
          }
        }

        @media (max-width: 770px) {
          padding: 35px 40px;
        }
        @media (max-width: 590px) {
          padding: 20px 0;
          margin: 0;
        }
      }
      @media (max-width: 590px) {
        flex-direction: column;
      }
    }

    .icons {
      margin-right: 64px;
      margin-top: 42px;

      img {
        margin-left: 72px;
        cursor: pointer;

        @media (max-width: 620px) {
          margin-left: 40px;
        }
        @media (max-width: 460px) {
          margin: 10px 25px;
        }
      }
      @media (max-width: 1390px) {
        margin-top: 0;
        margin-bottom: 40px;
      }
      @media (max-width: 590px) {
        margin-top: 20px;
      }
      @media (max-width: 460px) {
        text-align: center;
        margin-right: 0;
      }
    }
    @media (max-width: 1390px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .block2 {
    border-top: 2px solid #FFFFFF;
    padding: 36px 0;

    p {
      font-size: 24px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;

      @media (max-width: 650px) {
        font-size: 20px;
      }
      @media (max-width: 490px) {
        font-size: 18px;
      }
      @media (max-width: 420px) {
        font-size: 16px;
      }
      @media (max-width: 360px) {
        font-size: 14px;
      }
    }
    @media (max-width: 650px) {
      padding: 15px 0;
    }
  }
}